.body{
    background-color: #d5b6b6;
    padding-top:0px;
    margin: 0;
}

.rcnav ul{
    display: block;
    list-style-type: none;
    margin: 0;
    width: 110px;
    height: 470px;
    background-color: #f3eaea;   position: fixed;
    justify-content: space-between;

}

.rcnav li{
    display: block;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 17px;
    text-decoration: none;
}

p{
    font-family: 'Lato', sans-serif; 
}

.rceh{
    background-image: url(/group/images/ehback.jpg);
    background-size: cover;
    height: 470px;
    margin-left:150px;
    padding-top: 20px;
    background-repeat: no-repeat;
    text-align: center;
    color:white;
    font-size: 30px
}

.rcresteh{
    display: block;
    margin-left: 150px;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;
    align-content: center;
    text-align: center;
}

.rcresteh img{
    width: 50%;
    float: none;

}

.rcresteh .li{
    text-decoration: none;
}

.rclandeh{
    text-align: center;
    margin-left: 150px;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;
}

.rclandeh img{
    margin: 25px;  
    
}

.rcspecialeh{
    text-align: center;
    margin-left: 0px;
    border-top: solid
    border-top-width: thick;
    border-top-style: double;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;   
}

/*Font from googlefonts*/
.h4{
    font-family: 'Kreon', serif;
    font-size: 20px;    
}

.rcspecialeh img {
    width: 50%;
}

.rcehtranseh{
    text-align: center;
    margin-left: 0;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;
    
}

@font-face{
    font-family: 'UpperWestSide';
    src: url('UpperWestSide.ttf');
}
/*Font downloaded off the internet from tiff file*/

.h1{
    font-size: 500%;
    font-family: 'UpperWestSide', sans-serif;
}

.rceh h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*this is the css code for the footer*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;}
/* Snapchat */
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;}
/* Instagram */
.fa-instagram {
  background: #125688;
    color: white;}

.rcfooter {
    padding: px;
    margin: 20px; }
    
/*this is where Laura's CSS style sheet goes*/

@font-face{
    font-family: 'UpperWestSide';
    src: url('../upperwestside.ttf');
}

.LWmain{
    min-height: 100%;
    background-color: #d5b6b6;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 60px;
}

.LWnavbar{
    align-items: flex-start;
}

.LWnavbar-list{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: space-between;
    background-color: #f3eaea;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 17px;
    height: 470px;
    width: 110px;
    text-align: center;  
    font-family: 'Lato', sans-serif;
}

.LWnavbar a{
    text-decoration: none;
}

.LWnavbar a:hover{
    color: red;
}

.LWli{
    list-style-type: none;
    padding: 15px;
}

.LWchildpage{
    background-color: #d5b6b6;
    width: 100%;
}

.LWheroimage{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/homepagebackgroundpic.jpg');
    padding: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: antiquewhite;
}

.LWheroimage h1{
    text-align: center;
}

.LWarticle-title{
    text-align: center;
    padding-bottom: 0px;
    padding-right: 110px;

}

.LWarticle-content{
    padding-right: 110px;
}

.LWtile-blocks-1, .LWtile-blocks-2{
    font-family: 'Lato', sans-serif;
    padding-bottom: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}

.LWeast-harlem-tile, .LWmorningside-tile, .LWhells-kitchen-tile, .LWjersey-city-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    width: 100%;
}

img{
    padding-bottom: 20px;
}

.LWend-paragraph-note{
    padding-right: 110px;
 
}

a:link {
    color:black;
}

h1{
    font-size: 500%;
    font-family: 'UpperWestSide', sans-serif;
}

h2{
    font-size: 300%;
    font-family: 'Kreon', serif;
}

p{
    font-family: 'Lato', sans-serif;
}

.LWfa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}

/* Twitter */
.LWfa-twitter {
    background: #55ACEE;
    color: white;}
/* Facebook */
.LWfa-facebook {
    background: #3B5998;
    color: white;}
/* Snapchat */
.LWfa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
/* Youtube */
.LWfa-youtube {
  background: #bb0000;
  color: white;}
/* Instagram */
.LWfa-instagram {
  background: #125688;
    color: white;}

.LWfooter-logos {
    padding-top: 100px;
    margin: 20px; 
    text-align:center;
}
/*end Laura's style sheet*/

/*beginning of Aileen's stylesheet*/

.agsidebar a:hover {
    color: #FF0000;
}

.agsidebar a {
    text-decoration: none;
    color: #17202A;
}

.agsidebar {
    align-items: flex-start;
    flex: 1;
    margin-left: 0;
}

.agsidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin: 0px;
    justify-content: space-around;
    background-color: #f3eaea;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    height: 470px;
    width: 110px;
    text-align: center;  
    font-family: 'Lato', sans-serif;
    text-decoration: none;

}

.agbuckets, .agpails  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 90%;
    text-align: center;
    margin-left: 140px;
    align-items: flex-start;
    justify-content: space-around;

}


.agmini { /*border used only to help visualize layout*/
    /*border: lightgrey 5px solid;*/
    padding: 20px 15px;
    margin: 0px 0px;
    font-family: 'lato', sans-serif;
    align-content: center;
    max-width: 60%;
    max-height: 40%;
}

.agtop {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0px 10px;
    padding: 10px;
    flex: 2;
    align-content: flex-start;
}

.aghero {
    margin: 30px 5px 5px 10px;
    padding: 5px 10px;
    align-self: center;
}


.agouter {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.agbottom {
    margin-left: 160px;
    margin-right: 0px;
    margin-top: 0px;
    width: 88%;
}

body {
    /*width: 1024px; Do not use for responsive page*/
    background-color: #d5b6b6;
    margin: auto;
}
html body {
    height: 100%;
}

p, a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #17202A;
}
h2 {
    font-family: 'Kreon', serif;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;}
/* Snapchat */
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;}
/* Instagram */
.fa-instagram {
  background: #125688;
    color: white;}

.agfooter {
    padding: 60px;
    /*margin: 20px;*/
    text-align: center;
    margin: center;
    width: 100%;
}
@font-face {
    font-family: 'UpperWestSide';
    src: url('group/upperwestside.ttf');
}

h1 {
    font-size: 500%;
    font-family: 'UpperWestSide', sans-serif;
    margin-left: 10px;
}

.agmini a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #17202A;
    
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ol {
    text-align: left;
}
/*end of Aileen's stylesheet*/