.body{
    background-color: #d5b6b6;
    padding-top:0px;
    margin: 0;
}

.rcnav ul{
    display: block;
    list-style-type: none;
    margin: 0;
    width: 110px;
    height: 470px;
    background-color: #f3eaea;   position: fixed;
    justify-content: space-between;

}

.rcnav li{
    display: block;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 17px;
    text-decoration: none;
}

p{
    font-family: 'Lato', sans-serif; 
}

.rceh{
    background-image: url(/group/images/ehback.jpg);
    background-size: cover;
    height: 200px;
    margin-left:120px;
    padding-top: 20px;
    background-repeat: no-repeat;
    text-align: center;
    color:white;
    font-size: 30px
}

.rcresteh{
    display: block;
    margin-left: 150px;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;
    align-content: center;
    text-align: center;
}

.rcresteh img{
    width: 50%;
    float: none;

}

.rcresteh .li{
    text-decoration: none;
}

.rclandeh{
    text-align: center;
    margin-left: 150px;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;
}

.rclandeh img{
    margin: 25px;  
    
}

.rcspecialeh{
    text-align: center;
    margin-left: 0px;
    border-top: solid
    border-top-width: thick;
    border-top-style: double;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;   
}

/*Font from googlefonts*/
.h4{
    font-family: 'Kreon', serif;
    font-size: 20px;    
}

.rcspecialeh img {
    width: 50%;
}

.rcehtranseh{
    text-align: center;
    margin-left: 0;
    border-bottom: solid;
    border-bottom-width: thick;
    border-bottom-style: double;
    
}

@font-face{
    font-family: 'UpperWestSide';
    src: url('UpperWestSide.ttf');
}
/*Font downloaded off the internet from tiff file*/

.h1{
    font-size: 500%;
    font-family: 'UpperWestSide', sans-serif;
}

.rceh h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

/*this is the css code for the footer*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;}
/* Snapchat */
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;}
/* Instagram */
.fa-instagram {
  background: #125688;
    color: white;}

.rcfooter {
    padding: px;
    margin: 20px; }
    
